<template>
  <div class="home">
    <fieldset>
      <legend>Root</legend>
      <ZtRoot msg="Creación de documentos" />
    </fieldset>
  </div>
</template>

<script>
// @ is an alias to /src
import ZtRoot from '@/components/ZtRoot.vue'

export default {
  name: 'Home',
  components: {
    ZtRoot
  }
}
</script>
