<template>
  <div class="login">
      <ZtLogin/>
  </div>
</template>

<script>
// @ is an alias to /src
import ZtLogin from '@/components/ZtLogin.vue'

export default {
  name: 'Home',
  components: {
    ZtLogin
  }
}
</script>
