<template>
  <div class="zt-item">
    <span :class="{ completed: isCompleted }">{{ title }}</span>
    <button
      :disabled="isCompleted"
      @click="onClick(id)"
    >
      {{ buttonText }}
    </button>
  </div>
</template>

<script>

export default {
  name: 'ZtItem',
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    isCompleted: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    buttonText () {
      return this.isCompleted ? 'completed' : 'complete'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>