<template>
  <div class="login">
    <h1>Este es el Login</h1>
    <span>Usuario:</span>
    <input
      v-model="usuario"
      type="text"
      class="zt-user"
    >
    <span>Password:</span>
    <input
      v-model="password"
      type="password"
      class="zt-pass"
    >
    <button @click="auth(usuario,password)">
      Ingresar
    </button>
    <div class="result"> {{result}} </div>
  </div>
</template>

<script>
import axios from 'axios'
import './mock'

export default {
  data () {
    return {
      usuario: '',
      password: '',
      result:''
    }
  },
  methods: {
    auth (usuario, password) {
      const params = {"user" : usuario, "password" : password}
      axios.get('/auth', { params: params } )
      .then((response) => {
          console.log(response.data);
          this.$router.push('home')
      })
      .catch((error) => {
          console.log(error.response)
          if(error.response.status == 404){
                if(error.response.data == undefined){
                    this.result = "Usuario inexistente"
                }else{
                    this.result = error.response.data.error
                }
          }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .result{
    margin-top: 2%;
  }
</style>
