<template>
  <div class="root">
    <h1>{{ msg }}</h1>
    <input
      id="zt-new-doc"
      v-model="newDoc"
      type="text"
      placeholder="Nuevo Documento"
    >
    <!-- <input type="text" placeholder="Nueva Cedula" /> -->
    <button
      :disabled="canAddNewItem"
      @click="addNewItem"
    >
      +
    </button>
    <fieldset>
      <legend>Item</legend>
      <ZtItem
        v-for="(doc,key) in docs"
        :id="key"
        :key="key"
        :title="doc.title"
        :is-completed="doc.isCompleted"
      />
    </fieldset>
  </div>
</template>

<script>
import ZtItem from '@/components/ZtItem.vue'

export default {
  name: 'ZtRoot',
  components: {
    ZtItem
  },
  props: {
    msg: String
  },
  data () {
    return {
      newDoc: '',
      docs: []
    }
  },
  computed: {
    canAddNewItem () {
      return this.newDoc === ''
    }
  },
  methods: {
    addNewItem () {
      this.docs.push({ title: this.newDoc, isCompleted: false })
      this.newDoc = ''
    }
    // setTodoCompleted(index){
    //   console.log("setTodoCompleted", index);
    //   this.todos[index].isCompleted = true;
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
